################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.csproj.user
.vs
/FloES/bin
/FloES/obj
/FloES/.vs
/FloES.Tests
.DS_Store
